:root {
  --text-color: #657b83; /* base00 */
  --background-color: #fdf6e3; /* base3 */
  --line-focus-background-color: #eee8d5; /* base2 */
  --comment-color: #93a1a1; /* base1 */
  --accent1-color: #b58900; /* yellow */
  --accent2-color: #cb4b16; /* orange */
  --accent3-color: #dc322f; /* red */
  --accent4-color: #d33682; /* magenta */
  --accent5-color: #6c71c4; /* violet */
  --accent6-color: #268bd2; /* blue */
  --accent7-color: #2aa198; /* cyan */
  --accent8-color: #859900; /* green */
}
