:root {
  --text-color: #abb2bf;
  --background-color: #282c34;
  --line-focus-background-color: #3e4451;
  --comment-color: #5c6370;
  --accent1-color: #d19a66; /* property */
  --accent3-color: #abb2bf; /* grouping */
  --accent6-color: #c678dd; /* null */
  --accent7-color: #98c379; /* number, string */
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #383a42;
    --background-color: #fafafa;
    --line-focus-background-color: #e0e0e0;
    --comment-color: #a0a1a7;
    --accent1-color: #986801; /* property */
    --accent3-color: #383a42; /* grouping */
    --accent6-color: #a626a4; /* null */
    --accent7-color: #50a14f;; /* number, string */
  }
}
