html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  caret-color: var(--text-color);
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--text-color) var(--background-color);
}

::-webkit-scrollbar {
  width: .75em;
  height: .75em;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color) ;
  border-radius: 6px;
  padding: 1em;
  margin: 1em;
  border: 3px solid var(--background-color);
}

::-webkit-scrollbar-corner {
  background: var(--background-color);
}

a {
  color: var(--text-color);
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: thin ridge var(--text-color);
  padding: .25em .5em;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  color: var(--text-color);
  background: var(--background-color) var(--select-arrow) calc(100% - 12px) 50% / 12px no-repeat;
  font-size: inherit;
  padding: .25em;
  border: thin solid var(--text-color);
  border-radius: 6px;
  padding-right: 2em;
}

select {
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}

@media (prefers-color-scheme: light) {
  select {
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }
}

select::-ms-expand {
  display: none;
}

#svelte {
  display: flex;
  flex-direction: column;
  height: 100%;
}
