html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#sapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: thin ridge var(--text-color);
  padding: .25em .5em;
  margin: 0;
}

button:hover {
  cursor: pointer;
}
